<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Fish</title>
    <link rel="icon" href="../IMG-ICON/logo.png">
    <link rel="stylesheet" href="../CSS/style2.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="/">
                <div class="home"><img src="../IMG-ICON/home.svg" alt="Icono de home" class="Home-icon"></div>
            </a>
            <div class="store-name">Radio Fish</div>
            <div class="cart-info">Cantidad de compras</div>
            <div class="cart-icon" id="cart-num"><%= carrito.length %></div>
        </header>
    </div>
    <% carrito.forEach(function(producto) { %>
        <main>
            <div class="product">
                <div class="product-image"><img src="../IMG-ICON/<%= producto.nombre.toLowerCase().replace(/\s+/g, '-') %>.png" alt="Producto" class="product-image"></div>
                <div class="product-info">
                    <h4><%= producto.nombre %></h4>
                    <p>$<%= producto.precio %></p>
                </div>
            </div>
            <div class="quantity">
                <button class="btn decrease-quantity" data-product-id="<%= producto.id %>">−</button>
                <div class="quantity-number" data-quantity-id="<%= producto.id %>"><%= producto.cantidad %></div>
                <button class="btn increase-quantity" data-product-id="<%= producto.id %>">+</button>
            </div>
            <div class="price">
                <div><h4>Precio</h4></div>
                <div><p>$<%= producto.precio * producto.cantidad %></p></div>
            </div>
        </main>
    <% }); %>
    <div class="total">
        <div><h4>Total</h4></div>
        <div><p id="total-price">$0</p></div>
    </div>
    <div class="pay-button">
        <button onclick="pagar()">Pagar</button>
    </div>
    
    <footer class="Footer">
        Derechos de autor &copy; 2024 Tienda Online.
    </footer>

    <script src="/JS/carrito.js"></script>
</body>
</html>
